In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

**Part 1**

*Import the raw data set into a Pandas DataFrame.*

In [16]:
animals = pd.read_csv('2021-11-ml-09-k-means-animals-dataset.csv')
animals

,Region,Stage,Individual ID,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,Anvers,"Adult, 1 Egg Stage",N1A1,39.1,18.7,181.0,3750.0,NaN,NaN,Not enough blood for isotopes.
1,Anvers,"Adult, 1 Egg Stage",N1A2,39.5,17.4,186.0,3800.0,8.94956,-24.69454,NaN
2,Anvers,"Adult, 1 Egg Stage",N2A1,40.3,18.0,195.0,3250.0,8.36821,-25.33302,NaN
3,Anvers,"Adult, 1 Egg Stage",N2A2,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,Anvers,"Adult, 1 Egg Stage",N3A1,36.7,19.3,193.0,3450.0,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...
339,Anvers,"Adult, 1 Egg Stage",N38A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,Anvers,"Adult, 1 Egg Stage",N39A1,46.8,14.3,215.0,4850.0,8.41151,-26.13832,NaN
341,Anvers,"Adult, 1 Egg Stage",N39A2,50.4,15.7,222.0,5750.0,8.30166,-26.04117,NaN
342,Anvers,"Adult, 1 Egg Stage",N43A1,45.2,14.8,212.0,5200.0,8.24246,-26.11969,NaN
343,Anvers,"Adult, 1 Egg Stage",N43A2,49.9,16.1,213.0,5400.0,8.36390,-26.15531,NaN

**Part 2**

*Follow the steps in the lesson to prepare the data set for K-means clustering.*

In [21]:
# Split the dataset into categorical and numerical columns
categorical_animals = animals[['Region', 'Stage', 'Individual ID', 'Comments']].copy()
numeric_animals = animals.drop(columns = {'Region', 'Stage', 'Individual ID', 'Comments'}).copy()

scalar = StandardScaler()
animal_scaled = scalar.fit_transform(numeric_animals)